<div class="container">

    <a routerLink="../haberEkle"><div class="col-md-3 alert alert-primary mr-4  kutucuk"><div class="yazi">     <mat-icon matSuffix>account_circle</mat-icon><br> Haber Ekle</div></div></a>
    
    <a routerLink="../haberDuzenle"><div class="col-md-3 alert alert-primary mr-4  kutucuk"><div class="yazi">  <mat-icon matSuffix>assignment</mat-icon><br>Haber Düzenle/Sil </div></div></a>
    
    <a routerLink="../haberDuzenle"><div class="col-md-3 alert alert-primary mr-4  kutucuk"><div class="yazi">  <mat-icon matSuffix>view_list</mat-icon><br>Paylaştığım Haberleri Gör</div></div></a>
        
    <a routerLink="../yazarEkran"><div class="col-md-3 alert alert-primary mr-4 kutucuk" ><div class="yazi">  <mat-icon matSuffix>settings</mat-icon><br>Profil Ayarları </div></div></a>
    <a routerLink="../yazar"><div class="col-md-3 alert alert-danger mr-4   kutucuk" (click)="this.cikisYap()"> <mat-icon matSuffix>logout</mat-icon><br><div class="yazi">Çıkış Yap</div></div></a>
    
    
    
    </div>




<!--<button mat-flat-button routerLink="../haberEkle" >Haber Ekle</button><hr>
<button mat-flat-button routerLink="../haberDuzenle">Haber Düzenle/Sil</button><hr>
<button mat-flat-button routerLink="../haberDuzenle">Paylaştığım Haberleri Gör</button><hr>
<button mat-flat-button>Profil Ayarları</button><hr>
<button mat-flat-button  (click)="cikisYap()">Çıkış Yap</button><hr>-->