<div class="container">

  <div class="w3-content" style="max-width:800px">
    <img class="mySlides" src="../../../assets/k1.jpg" style="width:700px;height: 400px;">
    <img class="mySlides" src="../../../assets/k2.jpg" style="width:700px;height: 400px;">
    <img class="mySlides" src="../../../assets/k3.jpg" style="width:700px;height: 400px;">
  </div>
  
  <div class="w3-center">
    <div class="w3-section">
      <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
      <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
    </div>
    <button class="w3-button demo" onclick="currentDiv(1)">1</button> 
    <button class="w3-button demo" onclick="currentDiv(2)">2</button> 
    <button class="w3-button demo" onclick="currentDiv(3)">3</button> 
  </div>
<div class="icerik">
<h2 class="kategori">SİYASET HABERLERİ</h2>

<div class="altKategori"><img src="../../../assets/k1.jpg" alt=""></div>
<div class="altKategori"><img src="../../../assets/k2.jpg" alt=""></div>
<div class="altKategori"><img src="../../../assets/k3.jpg" alt=""></div>
</div>
</div>

<div class="sagKose">   
<img src="../../../assets/sagkose.jpg" alt="">
 <h2>Görüşmeler olumlu geçti.</h2>
</div>

<div class="sagKose">   
    <img src="../../../assets/k1.jpg" alt="">
    <h2>Görüşmeler olumlu geçti.</h2>
    </div>

    <div class="sagKose">   
        <img src="../../../assets/k2.jpg" alt="">
        <h2>Görüşmeler olumlu geçti.</h2>
        </div>

<div>