
<div class="kayit">
    <h2 class="baslik" style="margin-left:20%;">YAZAR KAYIT FORMU</h2><hr>
     
    
          <br>
    <br>
          <!--<img [src]="'https://localhost:44321/Resimler/sagKose.jpg'" alt="">
           <button mat-raised-button color="accent" (click)="fileSec.click()">Fotoğraf Seç</button>-->
        
            <button mat-raised-button class="example-full-width" color="warn" (click)="haberEkle()">Kayıt Ol</button>
            <hr>
         <div *ngIf="sonucum.islem">{{sonucum.mesaj}}</div>

</div>
