<div class="container">

    <div class="card col-md-8">
        <form ngForm="ngForm">
        <div class="card-header text-center"><h2> İLETİŞİM FORMU</h2></div>
        <div class="card-body">
            
            <div class="form-group">
                <input type="text" name="mail" class="form-control btn-lg" placeholder="e-mail" #mail>
            </div>
            <div class="form-group">
                <textarea name="ileti" id="" cols="30" rows="3" class="form-control btn-lg" placeholder="İletiniz.." #ileti></textarea>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-success btn-block btn-lg" (click)="this.iletisimGonder(mail.value,ileti.value)">İleti Gönder</button>
            <div *ngIf="durum">
                <hr>
                <div class="alert alert-primary" role="alert">
                  {{this.mesaj}}
                </div>
            </div>
        </div>
    </form>
    </div>

</div>