<div class="container">

<a routerLink="../adminUye"><div class="col-md-3 alert alert-primary mr-4  kutucuk"><div class="yazi">     <mat-icon matSuffix>account_circle</mat-icon><br> Üye İşlemleri </div></div></a>

<a routerLink="../adminHaber"><div class="col-md-3 alert alert-primary mr-4  kutucuk"><div class="yazi">  <mat-icon matSuffix>assignment</mat-icon><br>Haber İşlemleri </div></div></a>

<a routerLink="../adminKategori"><div class="col-md-3 alert alert-primary mr-4  kutucuk"><div class="yazi">  <mat-icon matSuffix>view_list</mat-icon><br>Kategori İşlemleri </div></div></a>

<a routerLink="../adminiletisim"><div class="col-md-3 alert alert-primary mr-4  kutucuk"><div class="yazi"> <mat-icon matSuffix>ring_volume</mat-icon><br> İletişim Kutusu </div></div></a>

<a routerLink="../adminEkran"><div class="col-md-3 alert alert-primary mr-4 kutucuk" ><div class="yazi">  <mat-icon matSuffix>settings</mat-icon><br>Profil Ayarları </div></div></a>
<a routerLink="../admin"><div class="col-md-3 alert alert-danger mr-4   kutucuk" (click)="this.cikisYap()"> <mat-icon matSuffix>logout</mat-icon><br><div class="yazi">Çıkış Yap</div></div></a>



</div>




<!--<button mat-flat-button  >Üye İşlemleri</button><hr>
<button mat-flat-button routerLink="../adminHaber">Haber İşlemleri</button><hr>
<button mat-flat-button routerLink="../adminKategori">Kategori İşlemleri</button><hr>
<button mat-flat-button routerLink="../adminiletisim">İletişim Kutusu</button><hr>
<button mat-flat-button>Profil Ayarları</button><hr>
<button mat-flat-button  (click)="cikisYap()">Çıkış Yap</button><hr>-->