.container {
  margin: 50px;
}
.giris {
  width: 30%;
  text-align: center;
  float: left;
}
.kayit {
  width: 60%;
  float: left;
  margin-left: 10%;
  margin-top: 50px;
}
.baslik {
  font-family: "Montserrat" sans-serif;
  font-size: 23px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
